{{!-- <p>Hi {{name}},</p>

<p>You now have access to RARA Survey tool!</p>
<p>You can now access your dashboard and assigned campaigns by going to the following link and creating a password:</p>

<p>Interviewer: {{interviewer}}</p>

<p>Thanks!</p>

<p>Influencer Team</p> --}}

<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Message</title>
</head>
<body>
    <p>Hello {{name}}</p>
    <p>Thank you for signing up with <b>{{company_name}}</b>! We're excited to have you on board.</p>
    <h3>Welcome aboard, and enjoy exploring!</h3>
    <p>Best regards,</p>
    <p>{{company_mail}}</p>
</body>
</html>